{% extends 'templates/common/section.html' %}

{% block name %}about{% endblock %}
{% block title %} O HackSilesii {% endblock %}
{% block content %}
<div class='row'>
  <div class="col-xs-12 text-center">
    <p class="text--body text--body__default">
      <strong>{{ title }} {{ subtitle }}</strong> to już trzecia edycja 24-godzinnego katowickiego Hackatonu. <br>
      Po raz kolejny nawiążemy współpracę z przedstawicielami Organizacji Pozarządowych, <br>
      by wspólnie zmajstrować coś dobrego!
    </p>
    <div class="featurette-divider"></div>
  </div>
</div>

{% include 'templates/sections/time_place.html' %}
{% include 'templates/sections/map.html' %}
{% include 'templates/sections/info_first.html' %}
{% include 'templates/sections/info_second.html' %}
{% include 'templates/sections/never_give_up.html' %}
{% include 'templates/sections/last_editions.html' %}

{% endblock %}
