{% extends 'templates/common/section.html' %}

{% block name %}contact{% endblock %}
{% block title %} Kontakt {% endblock %}
{% block content %}
<div class="row">
  <div class="col-xs-12">
      <p class="text-center">
        Masz jakieś pytania? Napisz do nas! <br><br>
        <a href="mailto:kontakt@hacksilesia.pl">kontakt@hacksilesia.pl</a>
      </p>
      <br><br>
      <div class="row">
        <div class="col-xs-3">
          <img src="img/style/hs-sil.png" alt="">
        </div>
        <div class="col-xs-8">
          <h4>HACKERSPACE SILESIA</h4>
          <span><strong>ORGANIZATOR</strong></span>
          <br><br>
          <p>Hackerspace to społeczność kreatywnych ludzi z różnych obszarów zainteresowań, związanych z technologiami, którzy spotykają się w miejscu, gdzie mogą tworzyć, integrować się oraz realizować zwariowane projekty.</p>
        </div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-xs-3">
          <img src="img/style/wit.png" alt="">
        </div>
        <div class="col-xs-8">
          <h4>WOMEN IN TECHNOLOGY</h4>
          <span><strong>ORGANIZATOR</strong></span>
          <br><br>
          <p>
            Skupiamy fascynatki technologii, programowania, baz danych, elektroniki, robotyki i innych pokrewnych dziedzin. Spotykamy się, by lepiej się poznać, wymieniać doświadczeniem, wspólnie się uczyć i wzajemnie się wspierać. Inspirujemy się do działania, rozwijamy się i łamiemy stereotypy.
          </p>
        </div>
      </div>
  </div>
</div>

{% endblock %}

