{% extends 'templates/common/section.html' %}

{% block name %}rewards{% endblock %}
{% block title %}Nagrody{% endblock %}
{% block content %}
<div class="row text-center">
  <div class="col-xs-12">
    <ol class="text-left">
      <li>
        <strong>Jak duży może być zespół?</strong>
        <p>Zespoły mogą być maksymalnie czteroosobowe.</p>
      </li>
      <li>
        <strong>Czy muszę przyjść z gotowym zespołem?</strong>
        <p>Nie, nie jest to konieczne. W naszej agendzie przewidzieliśmy czas na utworzenie zespołów.</p>
      </li>
      <li>
        <strong>Jeszcze nie jestem profesjonalnym developerem-wymiataczem, czy HackSilesia#2 jest dla mnie?</strong>
        <p>Tak. HackSilesia#2 ma również na celu rozwijać wiedzę i doświadczenie uczestników. Nasi mentorzy chętnie ci w tym pomogą.</p>
      </li>
      <li>
        <strong>Nie znam żadnych języków programowania. Czy Hacksilesia jest dla mnie?</strong>
        <p>HackSilesia#2 to maraton nie tylko dla programistów. Jeśli masz umiejętności, którymi będziesz mógł zasilić zespół (np. jesteś dobrym grafikiem / copywriterem / masz zmysł marketingowy i wiesz co zrobić, żeby <i>sprzedać</i> produkt), rejestruj się śmiało.</p>
      </li>
      <li>
        <strong>Co mam ze sobą przynieść?</strong>
        <p>Weź laptop, ładowarkę i pokłady pozytywnej energii.</p>
      </li>
      <li>
        <strong>Czy muszę mieć gotowy pomysł na projekt przed przyjściem na hackathon?</strong>
        <p>Nie. Większość pomysłów powstaje i rozwija się w czasie hackathonu.</p>
      </li>
      <li>
        <strong>Czy mam przynieść jedzenie?</strong>
        <p>Organizator zapewnia przekąski, posiłki oraz dostęp do energo-dajnej kawusi w czasie hackathonu.</p>
      </li>
    </ol>
  </div>
</div>

{% endblock %}
