<div class='row'>
  <div class="col-xs-12 text-center">
    <div class="featurette-divider"></div>
    <strong class='h3'>For Better Communities… czyli co?</strong>
    <div class="featurette-divider"></div>
    <p class="text--body text--body__default">
      Tegoroczna edycja skupia się wokół hasła <em>For Better Communities</em>, czyli dla lepszych społeczności.
      Projekty, które stworzą uczestnicy, będą miały na celu rozwiązać dany problem społeczny. 
      Mogą też być kierowane do lokalnych społeczności lub grup zainteresowań.
    </p>
  </div>
</div>
