<div class='row'>
  <div class="featurette-divider"></div>
  <div class="col-xs-12">
    <div class="row text-center map-container">
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2550.6769554262905!2d19.02815651546331!3d50.260617479449564!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4716ce343ace14c3%3A0x58185fc1cfa3dd72!2sCentrum+Informacji+Naukowej+i+Biblioteka+Akademicka!5e0!3m2!1spl!2spl!4v1494094306756" width="100%" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
    </div>
  </div>
  <div class="featurette-divider"></div>
</div>
