<div class='row'>
  <div class="col-xs-12 text-center">
    <div class="featurette-divider"></div>
    <strong class='h3'>Wciaż Cię nie przekonaliśmy?</strong>
  </div>
</div>

<div class='row'>
  <div class="featurette-divider"></div>
  <div class="col-xs-12 col-sm-6 text-center">
      <a href='https://blog.hacksilesia.pl/' target='_blank'>
          <img src='img/kleks/3.png' />
          <div class="featurette-divider"></div>
          <strong class='orange h3'>Odwiedź naszego bloga</strong>
      </a>
      <p class="text--body text--body__default">
          zobacz fotorelacje, wywiady z uczestnikami i porady i wiele, wiele więcej!
      </p>
  </div>
  <div class="col-xs-12 col-sm-6 text-center">
      <a href='https://katowice.tvp.pl/24105745/programisci-w-sluzbie-spoleczenstwu' target='_blank'>
          <img src='img/kleks/4.png' />
          <div class="featurette-divider"></div>
          <strong class='orange h3'>Zobacz relację</strong>
      </a>
      <p class="text--body text--body__default">
          i przekonaj się jak wielką frajdę sprawiła nam zeszłoroczna edycja
      </p>
  </div>
</div>

