{% extends 'templates/common/section.html' %}

{% block name %}register{% endblock %}
{% block title %}Rejestracja{% endblock %}
{% block content %}
<div class='text-center'>
  <div class="register-row">
      <div class="register-col">
         <img src="img/register/reg1.png">
         <p>Wypełnij<br>formularz<br>rejestracyjny</p>
      </div>
      <div class="register-col-arrow">〉</div>
      <div class="register-col">
          <img src="img/register/reg2.png">
          <p>
            Pobierz<br>deklarację w wybranym formacie:<br>
            <a download="" href="deklaracja_hacksilesia3.docx">docx</a>,
            <a download="" href="deklaracja_hacksilesia3.pdf">pdf</a>
          </p>
      </div>
      <div class="register-col-arrow">〉</div>
      <div class="register-col">
          <img src="img/register/reg3.png">
          <p>Wydrukuj<br>deklarację</p>
      </div>
      <div class="register-col-arrow">〉</div>
      <div class="register-col">
          <img src="img/register/reg4.png">
          <p>Podpisz<br>deklarację<br>po zapoznaniu<br>się z nią</p>
      </div>
      <div class="register-col-arrow">〉</div>
      <div class="register-col">
          <img src="img/register/reg5.png"><p>Sfotografuj<br>lub zeskanuj<br>deklarację</p>
      </div>
      <div class="register-col-arrow">〉</div>
      <div class="register-col">
          <img src="img/register/reg6.png">
          <p>
            Wyślij ją na:<br>
            <small><a href="mailto:kontakt@hacksilesia.pl">kontakt@hacksilesia.pl</a></small>
          </p>
      </div>
  </div>
  <br><br><br>
  <div style="width:100%; text-align:left"><iframe src="//eventbrite.com/tickets-external?eid=34481908316&amp;ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe><div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left"><a class="powered-by-eb" style="color: #dddddd; text-decoration: none" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div></div></div>
</div>
{% endblock %}
