{% extends 'templates/subpage_sponsor.html' %}
{% block name %}Clearcode{% endblock %}
{% block img %}big_cc.png{% endblock %}
{% block link %}http://clearcode.cc/{% endblock %}
{% block description %}
Jesteśmy software housem o wyjątkowej historii - założonym przez rodowitych Ślązaków, którzy wystartowali z biznesem we Wrocławiu, by po dobrych kilku latach podjąć decyzję o powrocie do korzeni - tak oto w 2014 roku powstało biuro Clearcode w Katowicach. W projektach stawiamy na specjalizację i konsekwentnie idziemy w Ad Tech, MarTech i analytics, dostarczając klientom skille techniczne i potężny zasób wiedzy branżowej. Z pragnienia szerzenia dobrych praktyk i prowokowania dyskusji wywodzą się nasze najlepsze inicjatywy, jak Ferajny czy Beer &amp; Bacon, w ramach których dzielimy się wiedzą i wspólnie rozwijamy.
{% endblock %}
