{% extends 'templates/subpage_sponsor.html' %}
{% block name %}Future Processing{% endblock %}
{% block img %}big_fp.png{% endblock %}
{% block link %}https://www.future-processing.pl{% endblock %}
{% block description %}
Jesteśmy firmą technologiczną założoną w 2000r., która z grupki przyjaciół przekształciła się w 750-osobowy zespół. Zajmujemy się tworzeniem oprogramowania dla klientów prowadzących działalność w różnych sektorach rynku. Od początku istnienia Future Processing chcieliśmy, aby FP było miejscem, w którym pracuje szczęśliwy, zintegrowany i zmotywowany zespół. Lubimy to, co robimy i chcemy to robić jak najlepiej.
{% endblock %}
