@font-face {
    font-family: NiceFont;
    src: url(inna czcionka bo mi sie nie podoba ;_;);
}
#hero h1, #hero h2 {
    /*font-family: NiceFont;*/
}
p.lead {
    text-align: justify;
}
.iframe-map {
    border: 1px #C9C0BB solid;
    box-shadow: 0px 0px 2px #888888;
}
.bigger-table th {
    width: 15%;
}
@media (min-width: 1000px) { 
    .bigger-table {font-size: 240%;}
}
@media (min-width: 800px) { 
    .bigger-table {font-size: 200%;}
}
@media (min-width: 700px) { 
    .bigger-table {font-size: 180%;}
}
.faq {
    font-size: 150%;
    font-weight: bold;
}

.faq p {
    text-align: justify;
    font-size: 12pt;
    font-weight: normal;
}