:root {
    /* Colors */
    --bg-primary: #404042;
    --bg-secondary: #fff;
    --text-primary: #404041;
    --text-secondary: #fbaf3f;
    --text-tertiary: #f1f1f3;
    --text-fourth: #faaf40;

    /* Font sizes */
    --font-enormous: 60px;
    --font-big: 28px;
    --font-big__body: 26px;
    --font-medium: 18px;
    --font-small: 14px;
}

body {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, Helvetica, Arial, sans-serif;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-secondary);
    font-weight: 800;
    font-style: italic;
}

strong{
  font-weight: 700;
}

p, span {
  color: var(--text-primary);
}

a {
  color: var(--text-secondary);
}

button {
  font-weight: 700;
}

.font--1 {
    color: var(--text-secondary);
    font-weight: 800;
    font-size: 40px;
}

.font--2 {
    font-weight: 400;
    font-size: 18px;
}

.font--3 {
    font-size: 14px;
}

.font--4 {
    font-size: 18px;
}

.navbar-hacksilesia {
    background-color: var(--text-secondary);
    border-color: rgba(0, 0, 0, .1);
    color: var(--bg-secondary);

    a, .nav > li > a {
        color: hsla(0, 0%, 100%, .84);

        &:hover, &:focus, &:active {
          color: hsla(0, 0%, 100%, .84);
          background-color: rgba(0, 0, 0, .05);
        }
    }
    .navbar-toggle {
      border-color: hsla(0,0%,100%,.84);

      .icon-bar {
        background-color: hsla(0,0%,100%,.84)
      }
    }
}


.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:focus,
.navbar .navbar-nav>.active>a:hover {
    color: hsla(0, 0%, 100%, .84);
    background-color: rgba(0, 0, 0, .05);
}

.section-1 {
    background-color: var(--bg-primary);
    color: var(--text-tertiary);

    p, span {
      color: var(--text-tertiary);
    }
}

.section-2 {
    background-color: var(--bg-secondary);
    color: var(--text-primary);

    p, span {
      color: var(--text-primary);
    }
}

.map-container {
  filter: grayscale(100%);
}

.page-footer {
  background-color: var(--text-secondary);

  a {
    background-color: white;
  }
}

.organizers {
  h4, span {
    font-style: normal;
  }
  .row {
    margin-bottom: 50px;
  }
}

.text--title {
  color: var(--text-fourth);
  font-size: var(--font-enormous);
}

.text--subtitle {
  color: var(--text-big);
  font-size: var(--font-primary);
}

.text--button__main {
  font-size: var(--text-medium);
  color: var(--bg-secondary);
}

.text--button__secondary {
  font-size: var(--text-small);
  color: var(--text--fourth);
}

.text--body {
  font-size: var(--text-medium);
  line-height: 26px;

  &__default {
    color: var(--text-primary);
  }
  &__white {
    color: var(--bg-secondary);
  }
  &__yellow {
    color: var(--text-fourth);
  }
  &__small {
    line-height: 18px;
    color: var(--text-primary);
    font-size: var(--text-small);
  }
}

.copyright {
  display: block;
  padding: 20px 0;
}

