{% extends 'templates/base.html' %}
{% block main_content %}
{% include 'templates/header.html' %}
<div class='sections'>
    {% include 'templates/sections/about.html' %}
    {% include 'templates/sections/agenda.html' %}
    {% include 'templates/sections/rewards.html' %}
    {% include 'templates/sections/register.html' %}
    {% include 'templates/sections/partnership.html' %}
    {% include 'templates/sections/contact.html' %}
    {% include 'templates/sections/faq.html' %}
</div>
{% endblock %}
