<!DOCTYPE html>
<html lang="pl">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ title }}</title>
  <!-- build:css -->
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/adds.css" rel="stylesheet" />
    <!-- Template style -->
    <link href="css/style.css" rel="stylesheet">
    <!-- Main template style. -->
    <link href="css/hacksilesia-2017.css" rel="stylesheet">
  <!-- endbuild -->
   <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700,800i&amp;subset=latin-ext" rel="stylesheet">
  {% include 'templates/meta.html' %}
</head>

<body data-spy="scroll" data-target=".navbar">
  {% include 'templates/navigation.html' %}
  <header class="header-image" id="hero">
    <div class="headline">
      <div class="container">
        <h1>{{ title }}</h1>
        <h2>{{ subtitle }}</h2>
      </div>
    </div>
  </header>
  <div>
    {% include 'templates/sections/about.html' %}
    {% include 'templates/sections/map.html' %}
    {% include 'templates/sections/rewards.html' %}
    {% include 'templates/sections/agenda.html' %}
    {% include 'templates/sections/faq.html' %}
<!--     <div class="very-black">
      <div class="container featurette">
        <hr class="featurette-divider" id="orgs" />
        <h2>ORGANIZATORZY / MENTORZY / SPONSORZY</h2>
        <div class='row'>
          <div class="col-md-12 text-center">
            <p>
              Chcesz wesprzeć naszą inicjatywę? Zapraszamy do zapoznania się z naszymi <a download href="downloads/hacksilesia_pakiety_sponsorskie_v9.pdf">pakietami sponsorskimi</a>!
            </p>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-5 col-md-offset-1 col-xs-6">
            <h4 class='text-center'><img src='img/hs_logo.png' /></h4>
            <br/>
            <h4 class='text-yellow'>HACKERSPACE SILESIA</h4>
            <h4>ORGANIZATOR</h4>
            <p class="lead hidden-xs">
              Hackerspace to społeczność kreatywnych ludzi z różnych obszarów zainteresowań, związanych z technologiami, którzy spotykają się w miejscu, gdzie mogą tworzyć, integrować się, oraz realizować zwariowane projekty.
            </p>
          </div>
          <div class="col-md-5 col-xs-6">
            <h4 class='text-center'><img src='img/wit_logo.png' /></h4>
            <br/>
            <h4 class='text-yellow'>WOMEN IN TECHNOLOGY</h4>
            <h4>ORGANIZATOR</h4>
            <p class="lead hidden-xs">
              Skupiamy fascynatki technologii, programowania, baz danych, elektroniki, robotyki i innych pokrewnych dziedzin. Spotykamy się, by lepiej się poznać, wymienić doświadczeniem, wspólnie się uczyć i wzajemnie się wspierać. Inspirujemy się do działania, rozwijamy się i łamiemy stereotypy.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-5 col-md-offset-1 col-xs-6">
            <h4 class='text-center'>
                        <a href='http://www.ingservicespolska.pl/'><img src='img/ing.png' /></a>
                    </h4>
            <br/>
            <h4 class='text-yellow'>ING Services Polska</h4>
            <h4>SPONSOR</h4>
            <p>
              ING Services Polska dostarcza innowacyjne serwisy IT dla grupy ING na całym świecie. Z sukcesem wdrażamy najnowsze trendy technologiczne, takie jak automatyzacja czy wirtualizacja. ISP jest organizacją o ogromnym potencjale. Od ponad 10 lat kształtujemy rynek pracy IT w regionie śląskim, dając ogromne możliwości kariery. Ambicją ISP jest szkolenie kadr informatycznych, tak aby nasi pracownicy byli elitą w sektorze IT.
            </p>
          </div>
          <div class="col-md-5 col-xs-6">
            <h4 class='text-center'>
                        <a href='https://www.mentor.com/'><img src='img/mgc.png' /></a>
                    </h4>
            <br/>
            <h4 class='text-yellow'>MENTOR GRAPHICS CORPORATION</h4>
            <h4>SPONSOR</h4>
            <p>
              Mentor Graphics Corporation jest światowym liderem w wytwarzaniu rozwiązań dla projektowania sprzętu i oprogramowania elektronicznego. Współpracuje z największymi światowymi firmami elektronicznymi dostarczając nie tylko oprogramowanie, ale i serwis konsultacyjny. Firma oferuje nowatorskie produkty i rozwiązania, które pomagają inżynierom przezwyciężać wyzwania, na które natrafiają w coraz bardziej złożonym świecie projektowania elektroniki.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-4 col-xs-6">
            <h4 class='text-center'>
                        <a href='http://www.iteo.co'><img src='img/iteo.png' /></a><br/>
                    </h4>
            <h4 class='text-yellow'>ITEO</h4>
            <h4>SPONSOR</h4>
          </div>
          <div class="col-md-4 col-xs-6">
            <h4 class='text-center'>
                        <a href='http://solution4future.com'><img src='img/s4f.png' /></a><br/>
                    </h4>
            <h4 class='text-yellow'>SOLUTION4FUTURE</h4>
            <h4>SPONSOR</h4>
          </div>
          <div class="col-md-4 col-xs-12">
            <h4 class='text-center'>
                        <a href='http://selleo.com' ><img src='img/seleo.png' /></a><br/>
                    </h4>
            <h4 class='text-yellow'>SELLEO</h4>
            <h4>SPONSOR</h4>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-4 col-xs-6">
            <h4 class='text-center'>
                        <a href='https://dobreziele.pl/'><img src='img/dobre-ziele.png' /></a><br/>
                    </h4>
            <h4 class='text-yellow'>DOBRE ZIELE</h4>
            <h4>SPONSOR</h4>
          </div>
          <div class="col-md-4 col-xs-6">
            <h4 class='text-center'>
                        <a href='https://www.future-processing.pl/'><img src='img/fp.png' /></a><br/>
                    </h4>
            <h4 class='text-yellow'>FUTURE PROCESSING</h4>
            <h4>SPONSOR</h4>
          </div>
          <div class="col-md-4 col-xs-12">
            <h4 class='text-center'>
                        <a href='http://programistamag.pl/'><img src='img/programista.png' /></a><br/>
                    </h4>
            <h4 class='text-yellow'>PROGRAMISTA</h4>
            <h4>SPONSOR</h4>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-3 col-xs-6">
            <h4 class='text-center'>
                        <a href='http://kontakt.io'><img src='img/kontakt-io.png' /></a><br/>
                    </h4>
            <h4 class='text-yellow'>KONTAKT.IO</h4>
            <h4>SPONSOR</h4>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4 class='text-center'>
                        <a href='https://www.smsapi.pl/'><img src='img/smsapi.png' /></a><br/>
                     </h4>
            <h4 class='text-yellow'>SMSAPI</h4>
            <h4>SPONSOR</h4>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4 class='text-center'>
                        <a href='https://silenceonthewire.com/'><img src='img/silence.png' /></a><br/>
                     </h4>
            <h4 class='text-yellow'>SILENCE ON THE WIRE</h4>
            <h4>SPONSOR</h4>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4 class='text-center'>
                        <a href='http://www.3s.pl/'><img src='img/3s.png' /></a><br/>
                     </h4>
            <h4 class='text-yellow'>3S</h4>
            <h4>SPONSOR</h4>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-4 col-xs-6">
            <h4 class='text-center'><img src='img/kdp-logo.png' /></h4>
            <br/>
            <h4 class='text-yellow'>KODUJ DLA POLSKI</h4>
            <h4>PATRONAT</h4>
          </div>
          <div class="col-md-4 col-xs-12">
            <h4 class='text-center'><img src='img/korczak.png' /></h4>
            <br/>
            <h4 class='text-yellow'>STOWARZYSZENIE KORCZAK</h4>
            <h4>PARTNER</h4>
          </div>
          <div class="col-md-4 col-xs-6">
            <h4 class='text-center'><img src='img/blk.png' /></h4>
            <br/>
            <h4 class='text-yellow'>BUSINESS LINK</h4>
            <h4>PATRONAT</h4>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-3 col-xs-6">
            <h4 class='text-center'><img src='img/fajna-eu.png' /></h4>
            <br/>
            <h4 class='text-yellow'>FAJNA.EU</h4>
            <h4>PARTNER</h4>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4 class='text-center'><img src='img/sprcp.png' /></h4>
            <br/>
            <h4 class='text-yellow'>STOWARZYSZENIE RUCH CZYSTEJ PRODUKCJI</h4>
            <h4>PARTNER</h4>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4 class='text-center'><img src='img/smok.png' /></h4>
            <br/>
            <h4 class='text-yellow'>PIASKOWY SMOK</h4>
            <h4>PARTNER</h4>
          </div>
          <div class="col-md-3 col-xs-6">
            <h4 class='text-center'><img src='img/rowerowad.png' /></h4>
            <br/>
            <h4 class='text-yellow'>ROWEROWA DĄBROWA</h4>
            <h4>PARTNER</h4>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-5 col-md-offset-1 col-xs-6">
            <h4 class='text-center'><img src='img/paulina.png' /></h4>
            <br/>
            <h4 class='text-yellow'>PAULINA URBAŃSKA</h4>
            <h4>MENTOR</h4>
            <p class="lead hidden-xs">
              Projektant freelancer i nauczyciel akademicki, od 2011 roku pracownik macierzystej ASP w Katowicach w pracowniach Projektowania Informacji Wizualnej i Typografii, gdzie obecnie pisze pracę doktorską. Zajmuje się przede wszystkim projektowaniem informacji, publikacji i identyfikacji wizualnej.
            </p>
          </div>
          <div class="col-md-5 col-xs-6">
            <h4 class='text-center'><img src='img/natalia.png' /></h4>
            <br/>
            <h4 class='text-yellow'>NATALIA PIETRUSZEWSKA</h4>
            <h4>MENTOR</h4>
            <p class="lead hidden-xs">
              Projektant freelancer, absolwentka Akademii Sztuk Pięknych w Katowicach. W latach 2012­-2014 związana z uczelnią zawodowo — w pracowniach Grafiki Edytorskiej oraz Projektowania Publikacji Cyfrowych. Obecnie doktorantka macierzystej uczelni.
            </p>
          </div>
        </div>
        <div class='row'>
          <div class="col-md-4 col-xs-6">
            <h4 class='text-center'><img src='img/kozak.png' /></h4>
            <br/>
            <h4 class='text-yellow'>MICHAŁ WESOŁY</h4>
            <h4>MENTOR</h4>
            <p class="lead hidden-xs">
              Inżynier informatyk, ex-korposzczur, programista z pasji, analityk z zamiłowania, architekt w pracy. Aktywny zawodowo od 2010 roku. Pierwszy "Hello World" napisał na Commodore 64 w 1998 roku. Zdjęcia kłamią.
            </p>
          </div>
          <div class="col-md-4 col-xs-6">
            <h4 class='text-center'><img src='img/adrian.png' /></h4>
            <br/>
            <h4 class='text-yellow'>ADRIAN ŁUKAWSKI</h4>
            <h4>MENTOR</h4>
            <p class="lead hidden-xs">
              Adrian to firmowy guru w zakresie API. Na co dzień odpowiada za budowę i rozwój Proximity REST API w Kontakt, krakowskim startupie, który jest światowym liderem na rynku beaconów.
            </p>
          </div>
          <div class="col-md-4 col-xs-12">
            <h4 class='text-center'><img src='img/michal.png' /></h4>
            <br/>
            <h4 class='text-yellow'>MICHAŁ BANAŚ</h4>
            <h4>MENTOR</h4>
            <p class="lead hidden-xs">
              Programista w ING Services polska. Lider streamu .Net. Zakręcony na punkcie aplikacji mobilnych i opensource. Hackathonowy weteran. Ze światem komunikuje się głównie w języku c#, ale nie obcy mu tez jest JS, Java, czy c++, w których rzeźbi appki na Androida.
            </p>
          </div>
        </div>
      </div>
    </div> -->
<!--     <div class="container featurette">
      <hr class="featurette-divider" id="register" />
      <h2>REJESTRACJA</h2>
      <div class='register-row'>
        <div class='register-col'>
          <img src='img/register/reg1.png' />
          <p>Wypełnij
            <br /> formularz
            <br /> rejestracyjny</p>
        </div>
        <div class='register-col-arrow'>&#9002;</div>
        <div class='register-col'>
          <img src='img/register/reg2.png' />
          <p>
            Pobierz
            <br /> deklarację w wybranym formacie:
            <br>
            <a download href="downloads/HackSilesia2_deklaracja_udzialu.docx">docx</a>,
            <a download href="downloads/HackSilesia2_deklaracja_udzialu.pdf">pdf</a>
          </p>
        </div>
        <div class='register-col-arrow'>&#9002;</div>
        <div class='register-col'>
          <img src='img/register/reg3.png' />
          <p>Wydrukuj
            <br /> deklarację</p>
        </div>
        <div class='register-col-arrow'>&#9002;</div>
        <div class='register-col'>
          <img src='img/register/reg4.png' />
          <p>Podpisz
            <br /> deklarację
            <br /> po zapoznaniu
            <br /> się z nią</p>
        </div>
        <div class='register-col-arrow'>&#9002;</div>
        <div class='register-col'>
          <img src='img/register/reg5.png' />
          <p>Sfotografuj
            <br /> lub zeskanuj
            <br /> deklarację</p>
        </div>
        <div class='register-col-arrow'>&#9002;</div>
        <div class='register-col'>
          <img src='img/register/reg6.png' />
          <p>
            Wyślij ją na:
            <br/>
            <small><a href="mailto:kontakt@hacksilesia.pl">kontakt@hacksilesia.pl</a></small>
          </p>
        </div>
      </div>
      <br/>
      <br/>
      <br/>
      <div style="width:100%; text-align:left;">
        <iframe src="//eventbrite.com/tickets-external?eid=20693180861&ref=etckt" frameborder="0" height="214" width="100%" vspace="0" hspace="0" marginheight="5" marginwidth="5" scrolling="auto" allowtransparency="true"></iframe>
        <div style="font-family:Helvetica, Arial; font-size:10px; padding:5px 0 5px; margin:2px; width:100%; text-align:left;"><a class="powered-by-eb" style="color: #dddddd; text-decoration: none;" target="_blank" href="http://www.eventbrite.com/r/etckt">Powered by Eventbrite</a></div>
      </div>
    </div> -->
<!--     <div class="very-black">
      <div class="container featurette">
        <hr class="featurette-divider" id="contact" />
        <h2>KONTAKT</h2>
        <div class='row'>
          <p class="text-center">
            Napisz do nas!
            <br/>
            <strong>
                    <a href='mailto:kontakt@hacksilesia.pl'>
                        kontakt@hacksilesia.pl
                    </a>
                    </strong>
          </p>
        </div>
        <div class='row'>
          <div class="col-md-2 col-xs-4">
            <h5 class='text-center'>
                        <img src='img/sliczna-ania.png' />
                        <br/><br/>
                        ANIA KRAWCZYK
                    </h5>
          </div>
          <div class="col-md-2 col-xs-4">
            <h5 class='text-center'>
                        <img src='img/dobra-ula.png' />
                        <br/><br/>
                        URSZULA MITAS
                    </h5>
          </div>
          <div class="col-md-2 col-xs-4">
            <h5 class='text-center'>
                        <img src='img/ladna-sylwia.png' />
                        <br/><br/>
                        SYLWIA SKRZYPCZYK
                    </h5>
          </div>
          <div class="col-md-2 col-xs-4">
            <h5 class='text-center'>
                        <img src='img/smieszny-marek.png' />
                        <br/><br/>
                        MAREK PIECHULA
                    </h5>
          </div>
          <div class="col-md-2 col-xs-4">
            <h5 class='text-center'>
                        <img src='img/piekny-kamil.png' />
                        <br/><br/>
                        KAMIL GAŁUSZKA
                    </h5>
          </div>
          <div class="col-md-2 col-xs-4">
            <h5 class='text-center'>
                        <img src='img/brzydki-palid.png' />
                        <br/><br/>
                        DARIUSZ NIEMCZYK
                    </h5>
          </div>
        </div>
      </div>
    </div> -->
<!--     <div class="container featurette">
      <hr class="featurette-divider" id="faq" />
      <h2>FAQ</h2>
      <ol class='faq'>
        <li>
          <strong>Jak duży może być zespół?</strong>
          <p>Zespoły mogą być maksymalnie czteroosobowe.</p>
        </li>
        <li>
          <strong>Czy muszę przyjść z gotowym zespołem?</strong>
          <p>Nie, nie jest to konieczne. W naszej agendzie przewidzieliśmy czas na utworzenie zespołów.</p>
        </li>
        <li>
          <strong>Jeszcze nie jestem profesjonalnym developerem-wymiataczem, czy HackSilesia#2 jest dla mnie?</strong>
          <p>Tak. HackSilesia#2 ma również na celu rozwijać wiedzę i doświadczenie uczestników. Nasi mentorzy chętnie ci w tym pomogą.</p>
        </li>
        <li>
          <strong>Nie znam żadnych języków programowania. Czy Hacksilesia jest dla mnie?</strong>
          <p>HackSilesia#2 to maraton nie tylko dla programistów. Jeśli masz umiejętności, którymi będziesz mógł zasilić zespół (np. jesteś dobrym grafikiem / copywriterem / masz zmysł marketingowy i wiesz co zrobić, żeby <i>sprzedać</i> produkt), rejestruj się śmiało.</p>
        </li>
        <li>
          <strong>Co mam ze sobą przynieść?</strong>
          <p>Weź laptop, ładowarkę i pokłady pozytywnej energii.</p>
        </li>
        <li>
          <strong>Czy muszę mieć gotowy pomysł na projekt przed przyjściem na hackathon?</strong>
          <p>Nie. Większość pomysłów powstaje i rozwija się w czasie hackathonu.</p>
        </li>
        <li>
          <strong>Czy mam przynieść jedzenie?</strong>
          <p>Organizator zapewnia przekąski, posiłki oraz dostęp do energo-dajnej kawusi w czasie hackathonu.</p>
        </li>
      </ol>
    </div> -->
  </div>
  <!-- /.container -->
  {% include 'templates/footer.html' %}

  <!-- build:js -->

    <!-- JQuery -->
    <script type="text/javascript" src="js/vendor/jquery.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="js/vendor/mini-bootstrap.min.js"></script>
    <script type="text/javascript" src="js/smooth-scroll.js"></script>

  <!-- endbuild -->
  <script>
  (function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
      m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-40373398-3', 'auto');
  ga('send', 'pageview');
  </script>
</body>

</html>
